In [1]:
import pandas as pd

In [2]:
#read in queens library data from open data
url = 'https://data.cityofnewyork.us/resource/b67a-vkqb.csv'
qns = pd.read_csv(url)

In [3]:
#read in brooklyn library locations from bk library site
url = 'https://www.bklynlibrary.org/locations/json'
bk = pd.read_json(url)

In [4]:
#read in nypl library locations

In [6]:
#read in snap centers
snap_ca = pd.read_csv('SNAP_CA_Centers.csv')

In [9]:
bk.head()

                                           locations
0  {'data': {'Saturday': '
10:00am - 5:00pm', 'Fr...
1  {'data': {'Saturday': '
10:00am - 5:00pm', 'Fr...
2  {'data': {'Saturday': '
10:00am - 5:00pm', 'Fr...
3  {'data': {'Saturday': '', 'Friday': '
10:00am ...
4  {'data': {'Saturday': '
10:00am - 5:00pm', 'Fr...